In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np


df=pd.read_csv('data1.csv')
#df=df.drop(['Unnamed: 0'], axis=1)
df.columns

Index(['Years of experience?', 'Manager at previous position?',
       'Passed hiring process?'],
      dtype='object')

In [7]:
df.head()

   Years of experience? Manager at previous position? Passed hiring process?
0                     5                            No                    Yes
1                    12                            No                    Yes
2                     7                            No                    Yes
3                     6                            No                    Yes
4                     6                            No                    Yes

In [12]:
from sklearn import tree
X=df.drop('Passed hiring process?',axis=1)
X = pd.get_dummies(X)

df.rename(columns = {'Passed hiring process?':'PassedOrNot'}, inplace = True)
y=df.PassedOrNot

In [14]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X, y)

In [21]:
from sklearn.metrics import accuracy_score

In [25]:
res_pred = clf.predict(X)
score = accuracy_score(y, res_pred)
print(score)

0.871

In [19]:
score = clf.score(X,y)
print(score)

0.871